table {
    border: 1px solid black;
    border-collapse: separate;
}

td {
    border: 1px solid black;
    padding: 5px;
}

th {
    border: 1px solid black;
    padding: 5px;
}
.jumbotron {
    background-color: #477bff;
    color: #fff;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}
.section {
    padding: 0.5rem 2rem 1rem 2rem;
}
.row:hover {
background-color: #f5f5f5;
transition: background-color }


button  {
    background-color: #d9edff;
    border: 1px solid transparent;
    font-size: 0.95rem;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: box-shadow 0.1;
}