{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    {% if request.form.get("symbol") %}
     A share of {{answer["name"]}} ({{answer["symbol"]}}) costs {{answer["price"]}}
    {% else %}
      <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text" required>
        </div>
       <button class="btn btn-primary" type="submit">quote</button>
    </form>
    {% endif %}

{% endblock %}